
<nav-bar></nav-bar>

<div layout="row" layout-align="center">

<side-nav></side-nav>	


	<div flex="75" class="container" layout="column" layout-xs="column">
	
	
	 

		<div  layout="row" layout-align="center center" flex-xs="flex">
			<md-card style="background-color:{{note.color}};"> <md-card-content>


			<div contenteditable="true" data-text="Title" ng-bind-html="note.title"
				ng-show="showTitle"
				style="font-weight: bold; width: 500px; border: 0px; outline: 0px"></div>
			<br ng-show="showTitle">
			<div contenteditable="true" data-text="Take a note..."
				ng-bind-html="note.description" ng-click="expandDiv()"
				style="color: Grey; width: 500px; border: 0px; outline: 0px"></div>
			<br ng-show="showTitle">


			<!-- 	for reminder -->
			
							<div ng-if="note.reminder"><br>
				<span style="background-color:white;">{{ note.reminder | date :  "yyyy-MM-dd HH:mm:ss"}}
				<md-icon ng-click="note.reminder=''"  md-svg-icon="img/icons/cross.svg" style="height:16px;width:16px;min-height:16px;min-width:16px;"></md-icon></span>
				</div>	
				


			<div ng-show="showTitle" layout="row"
				layout-align="space-around center" role="toolbar">


		<md-menu-bar> <md-menu>
				<div role="button" ng-click="$mdMenu.open()">
					 <md-icon md-svg-icon="img/icons/remind.svg"  aria-label="Remind me" >
				</div>
	
	 <md-menu-content>
	 <div layout="column">



<div layout-padding>Reminder :</div>
<md-button ng-click="remindSet(note,0)" layout="row" layout-align="space-between center"><span>Later today</span><span>8:00 PM</span></md-button>
<md-button ng-click="remindSet(note,1)" layout="row" layout-align="space-between center"><span>Tomorrow</span><span>8:00 AM</span></md-button>
<md-button ng-click="remindSet(note,2)" layout="row" layout-align="space-between center"><span>Next Week</span><span>MON, 8:00 AM</span></md-button>
<br>
<div layout-padding>Pickup Manually :</div>
<br>
	<md-input-container>	
	 <label>Select Date and Time</label>
<input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
placeholder="Date" show-todays-date="" min-date="date" ng-model="remind"  ng-change="reminder(note,remind)" class=" md-input" readonly="readonly">
</md-input-container>

	
		 </div></md-menu-content> </md-menu> </md-menu-bar>					


					<div role="button" aria-label="Collaborator">
						<md-icon md-svg-icon="img/icons/collaborate.svg"></md-icon>
					</div>
					<color-picker color="color" options="options"
						on-color-changed="colorChanged(newColor,note)"></color-picker>
					
					<div ng-click="uploadImage(note)" role="button" aria-label="Add image">
					<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />
					
						<md-icon md-svg-icon="img/icons/image.svg"></md-icon>
					</div>
	
					<div role="button" ng-click="note.archived=true" aria-label="Archive">
						<md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
					</div>
					

					<md-button ng-show="showTitle" ng-click="addNote(note)">Done</md-button>
	
			</div>

</md-card-content>
</md-card>
</div>













<!-- for Note Dialog Box -->


			<div style="visibility: hidden">
				<div class="md-dialog-container" id="myStaticDialog" >
					<md-dialog layout-padding flex-gt-xs="50" felx-xs="flex"> 
					
		 <md-card-content>
					<div ng-if="notes.image"><img ng-src={{notes.image}} style=" max-width: 100%;"></div>	
					<div ng-if="notes.image"><md-icon ng-click="notes.image='';updateNote(notes)" flex-offset="95" md-svg-icon="img/icons/delete.svg"></md-icon></div>
					<div contenteditable="true" ng-bind-html="notes.title"
						ng-model="notes.title"
						style="font-weight: bold; width: 500px; border: 0px; outline: 0px"></div>
					<br>
					<div contenteditable="true" ng-bind-html="notes.description"
						ng-bind-html="notes.description"
						style="color: Grey; width: 500px; border: 0px; outline: 0px"></div>
					<br>

							
			<!-- 	for reminder -->
			
							<div ng-if="notes.reminder"><br>
				<span style="background-color:white;">{{ notes.reminder | date :  "yyyy-MM-dd HH:mm:ss"}}
				<md-icon ng-click="notes.reminder='';updateNote(notes)"  md-svg-icon="img/icons/cross.svg" style="height:16px;width:16px;min-height:16px;min-width:16px;"></md-icon></span>
				</div>	
				<div ng-if="note.label" layout="row" layout-wrap>
				
				
		<!-- for label -->	
		
							<div ng-repeat="labels in notes.label"><br>
				<span style="background-color:white;">{{labels.labelName}}
				<md-icon ng-click="deleteNoteLabel(labels.labelId,notes.noteId)"  md-svg-icon="img/icons/cross.svg" style="height:16px;width:16px;min-height:16px;min-width:16px;"></md-icon></span>
				</div>	
				</div>
	
				

		<div layout="row" layout-align="space-around center"
					role="toolbar">

		<md-menu-bar> <md-menu>
				<div role="button" ng-click="$mdMenu.open()">
					 <md-icon md-svg-icon="img/icons/remind.svg"  aria-label="Remind me" >
				</div>
	
	 <md-menu-content>
	 <div layout="column">



<div layout-padding>Reminder :</div>
<md-divider></md-divider>
<md-button ng-click="reminderSet(notes,0)" layout="row" layout-align="space-between center"><span>Later today</span><span>8:00 PM</span></md-button>
<md-button ng-click="reminderSet(notes,1)" layout="row" layout-align="space-between center"><span>Tomorrow</span><span>8:00 AM</span></md-button>
<md-button ng-click="reminderSet(notes,2)" layout="row" layout-align="space-between center"><span>Next Week</span><span>MON, 8:00 AM</span></md-button>
<br>
<md-divider></md-divider>
<div layout-padding>Pickup Manually :</div>
<br>
<span layout-padding>Select Date and Time</span>

	<md-input-container>	
<input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
placeholder="Date" show-todays-date="" min-date="date" ng-model="remind"  ng-change="reminder(notes,remind)" class=" md-input" readonly="readonly">
</md-input-container>

	
		 </div></md-menu-content> </md-menu> </md-menu-bar>					


		<!-- 			<div role="button" aria-label="Remind me">
						<md-icon md-svg-icon="img/icons/remind.svg"></md-icon>
					</div> -->
					<div ng-click="showCollab(notes)" role="button" aria-label="Collaborator">
						<md-icon md-svg-icon="img/icons/collaborate.svg"></md-icon>
					</div>
					<color-picker color="color" options="options"
						on-color-changed="colorChanged(newColor,notes)"></color-picker>
					
					<div ng-click="uploadImage(notes)" role="button" aria-label="Add image">
					<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />
					
						<md-icon md-svg-icon="img/icons/image.svg"></md-icon>
					</div>
	
					<div role="button" ng-click="archive(notes)" aria-label="Archive">
						<md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
					</div>
					

 					<md-menu-bar> <md-menu>

					<div role="button" aria-label="More" ng-click="$mdMenu.open()">
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div>
					<md-menu-content width="2" layout="column"> <md-menu-item>
					<md-button ng-click="trash(notes)">Delete</md-button> </md-menu-item>
 				
					<md-menu-item>
					<md-button  ng-click="socialShare(notes)"> Share on fb</md-button> </md-menu-item>
<!--
 <md-menu-item> <md-button ng-click="label()">Add label</md-button> </md-menu-item> 
 --> 
 

				    <md-menu-item>
					 <md-menu>

					<md-button ng-click="$mdMenu.open()">Add label</md-button>
				<!-- 	<div role="button" aria-label="More" ng-click="$mdMenu.open()">Add Label
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div> -->
					<md-menu-content width="4"> 
					
					<md-menu-item>
						
						
  <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/icons/cross.svg"></md-icon>
      <input ng-model="label.labelName" type="text" placeholder="Create new label">
         <md-icon ng-click="addLabel(label)" md-svg-src="img/icons/check.svg"></md-icon></md-input-container>
						
						
					 </md-menu-item>
					
					<md-menu-item ng-repeat="label in readLabel" layout-padding> 
					 <md-checkbox   ng-click="addNoteLabel(label.labelId,notes.noteId)" aria-label="Checkbox"><span>{{label.labelName}}</span>
            			</md-checkbox></md-menu-item>
            
             
     
             </md-menu-content> </md-menu> </md-menu-item>
             
             </md-menu-content> </md-menu> </md-menu-bar>
	<md-button ng-click="updateNote(notes)">Done</md-button>
				</div>

							
			

 </md-card-content>  </md-dialog>
				</div>
			</div>
	


<!-- for Label Dialog box -->



			<div style="visibility: hidden">
				<div class="md-dialog-container" id="myLabelDialog">
				<md-dialog layout-padding>
				
			

<md-card-title>Label </md-card-title>
<md-card-content>

  <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/icons/cross.svg"></md-icon>
      <input ng-model="label.labelName" type="text" placeholder="Create new label">
         <md-icon ng-click="addLabel(label)" md-svg-src="img/icons/check.svg"></md-icon></md-input-container>

 <div ng-repeat="label in readLabel"  layout="row">
     
     <md-icon flex="20" ng-click="deleteLabel(label)" md-svg-src="img/icons/delete.svg"></md-icon>
     		<div flex="60" contenteditable="true" ng-bind-html="label.labelName" ng-model="label.labelName" style="border: 0px; outline: 0px"></div>
         <md-icon flex="20" ng-click="updateLabel(label)" md-svg-src="img/icons/write.svg"></md-icon>
</div>
</md-card-content>

				
				
				</md-dialog>
				</div></div>



<!-- for collaborator dialog box -->


<div style="visibility: hidden">
<div class="md-dialog-container" id="myCollabDialog">
<md-dialog layout-padding flex-gt-xs="40" flex-xs="flex">
<md-card-title>Collaborators </md-card-title>
<md-divider></md-divider>
<md-card-content layout="column" layout-padding>


<div ng-show="sharedNote.user.profilePicture" layout="row" layout-align="start center" >
<img ng-src={{sharedNote.user.profilePicture}} style="border-radius:45px; max-width: 100%;" aria-label="profile">
<div flex="5"></div><div layout="column">
<span> <b>{{sharedNote.user.userName}}</b> <i>(Owner)</i></span>
<span style="color: Grey;"> {{sharedNote.user.email}}</span>
</div>
</div>

<div ng-hide="sharedNote.user.profilePicture" layout="row" layout-align="start center" >
<ng-avatar string="{{sharedNote.user.userName}}" bind="true" upper-case="true" auto-color="true" class="avatar" round-shape="true" ></ng-avatar>
<div flex="5"></div><div layout="column">
<span> <b>{{sharedNote.user.userName}}</b> <i>(Owner)</i></span>
<span style="color: Grey;"> {{sharedNote.user.email}}</span>
</div>
</div>



<div ng-repeat="sharedUser in sharedNote.sharedUser">

<div ng-show="sharedUser.profilePicture" layout="row" layout-align="start center">
<img ng-src={{sharedUser.profilePicture}} style="border-radius:45px; max-width: 100%;" aria-label="profile">
<div flex="5"></div>
<div layout="column">
<span>{{sharedUser.userName}}</span>
<span>{{sharedUser.email}}</span>
</div>
<md-icon ng-click="removeShared(sharedUser.userId,sharedNote.noteId)"  md-svg-icon="img/icons/cross.svg"></md-icon>
</div>

<div ng-hide="sharedUser.profilePicture" layout="row" layout-align="start center">
<ng-avatar string="{{sharedUser.userName}}" bind="true" upper-case="true" auto-color="true" class="avatar" round-shape="true" ></ng-avatar>
<div flex="5"></div>
<div layout="column">
<span>{{sharedUser.userName}}</span>
<span>{{sharedUser.email}}</span>
</div>
<md-icon ng-click="removeShared(sharedUser.userId,sharedNote.noteId)"  md-svg-icon="img/icons/cross.svg"></md-icon>

</div>
</div>




<div layout="row" layout-align="space-between center">

<div layout="row" layout-align="start center">
<div><ng-avatar initials="U" auto-color="true" class="avatar" round-shape="true" ></ng-avatar></div>

<div layout-padding contentEditable="true" data-text="Email to share with" ng-model="email"></div>

</div>
<div>
<md-icon ng-click="shareNote(email,sharedNote.noteId);email=''" md-svg-icon="img/icons/check.svg"></md-icon>
</div>
</div>


<!-- 
<div ng-hide="user.profilePicture"><ng-avatar initials="U" auto-color="true" class="avatar" round-shape="true" ></ng-avatar>
</div>
 -->
 
 </md-card-content>

</md-dialog>
</div>

</div>




<div ng-show="showPin" layout-padding><h4>Pinned</h4></div>
		<div layout="row" layout-align="start start" layout-wrap layout-padding layout-xs="column">
			<div ng-repeat="note in readNotes | filter:{pinned:true}"  flex-gt-xs={{flex}} flex-xs="flex" >
					
				<md-card  ng-mouseenter="visible=''" ng-mouseleave="visible='hidden'"
					style="background-color:{{note.color}};" >
					
					
					<div role="button" ng-click="pin(note)" aria-label="Pin" flex="10" flex-offset="90">
						<md-icon md-svg-icon="img/icons/pin1.svg" style="color:#4285f4;"></md-icon>
					</div>
					
				<div ng-click=showDialog(note)>
				
					<div ng-if="note.image"><img ng-src={{note.image}} style=" max-width: 100%;"></div>
					<md-card-title>
					<div style="overflow-wrap: break-word;" contenteditable="false" class="md-headline">{{note.title}}</div>
					</md-card-title>
					<md-card-content>

					<div style="overflow-wrap: break-word;" contenteditable="false"
						aria-multiline="true" role="textbox">{{note.description}}</div>
					</md-card-content>
				</div>
				<md-card-content>


<div style="visibility:{{visible}};" layout="row" layout-align="space-around center"
					role="toolbar">

		<md-menu-bar> <md-menu>
				<div role="button" ng-click="$mdMenu.open()">
					 <md-icon md-svg-icon="img/icons/remind.svg"  aria-label="Remind me" >
				</div>
	
	 <md-menu-content>
	 <div layout="column">



<div layout-padding>Reminder :</div>
<md-divider></md-divider>
<md-button ng-click="reminderSet(note,0)" layout="row" layout-align="space-between center"><span>Later today</span><span>8:00 PM</span></md-button>
<md-button ng-click="reminderSet(note,1)" layout="row" layout-align="space-between center"><span>Tomorrow</span><span>8:00 AM</span></md-button>
<md-button ng-click="reminderSet(note,2)" layout="row" layout-align="space-between center"><span>Next Week</span><span>MON, 8:00 AM</span></md-button>
<br>
<md-divider></md-divider>
<div layout-padding>Pickup Manually :</div>
<br>
<span layout-padding>Select Date and Time</span>

	<md-input-container>	
<input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
placeholder="Date" show-todays-date="" min-date="date" ng-model="remind"  ng-change="reminder(note,remind)" class=" md-input" readonly="readonly">
</md-input-container>

	
		 </div></md-menu-content> </md-menu> </md-menu-bar>					


		<!-- 			<div role="button" aria-label="Remind me">
						<md-icon md-svg-icon="img/icons/remind.svg"></md-icon>
					</div> -->
					<div ng-click="showCollab(note)" role="button" aria-label="Collaborator">
						<md-icon md-svg-icon="img/icons/collaborate.svg"></md-icon>
					</div>
					<color-picker color="color" options="options"
						on-color-changed="colorChanged(newColor,note)"></color-picker>
					
					<div ng-click="uploadImage(note)" role="button" aria-label="Add image">
					<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />
					
						<md-icon md-svg-icon="img/icons/image.svg"></md-icon>
					</div>
	
					<div role="button" ng-click="archive(note)" aria-label="Archive">
						<md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
					</div>
					

 					<md-menu-bar> <md-menu>

					<div role="button" aria-label="More" ng-click="$mdMenu.open()">
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div>
					<md-menu-content width="2" layout="column"> <md-menu-item>
					<md-button ng-click="trash(note)">Delete</md-button> </md-menu-item>
 				
					<md-menu-item>
					<md-button  ng-click="socialShare(note)"> Share on fb</md-button> </md-menu-item>
<!--
 <md-menu-item> <md-button ng-click="label()">Add label</md-button> </md-menu-item> 
 --> 
 

				    <md-menu-item>
					 <md-menu>

					<md-button ng-click="$mdMenu.open()">Add label</md-button>
				<!-- 	<div role="button" aria-label="More" ng-click="$mdMenu.open()">Add Label
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div> -->
					<md-menu-content width="4"> 
					
					<md-menu-item>
						
						
  <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/icons/cross.svg"></md-icon>
      <input ng-model="label.labelName" type="text" placeholder="Create new label">
         <md-icon ng-click="addLabel(label)" md-svg-src="img/icons/check.svg"></md-icon></md-input-container>
						
						
					 </md-menu-item>
					
					<md-menu-item ng-repeat="label in readLabel" layout-padding> 
					 <md-checkbox   ng-click="addNoteLabel(label.labelId,note.noteId)" aria-label="Checkbox"><span>{{label.labelName}}</span>
            			</md-checkbox></md-menu-item>
            
             
     
             </md-menu-content> </md-menu> </md-menu-item>
             
             </md-menu-content> </md-menu> </md-menu-bar>

				</div>

				</md-card-content> </md-card>
			</div>
		</div>





<div ng-show="showPin" layout-padding><h4>Other</h4></div>

		<div layout="row" layout-align="{{align1}} {{align2}}" layout-wrap layout-padding layout-xs="column">
			<div ng-repeat="note in readNotes | filter:{pinned:false,inTrash:false,archived:false} " flex-gt-xs	={{flex}} flex-xs="flex">

				<md-card  ng-mouseenter="visible=''" ng-mouseleave="visible='hidden'"
					style="background-color:{{note.color}};" >
	
				<div role="button" ng-click="pin(note)" aria-label="Pin" flex="10" flex-offset="90">
						<md-icon style="visibility:{{visible}};" md-svg-icon="img/icons/pin1.svg"></md-icon>
					</div>
	
				
				<div ng-click=showDialog(note)>
				
					<div ng-if="note.image"><img ng-src={{note.image}} style=" max-width: 100%;"></div>
					<md-card-title>
					
					<div style="overflow-wrap: break-word;" contenteditable="false" class="md-headline">{{note.title}}</div>
					</md-card-title>
					<md-card-content>

					<div style="overflow-wrap: break-word;" contenteditable="false"
						aria-multiline="true" role="textbox">{{note.description}}</div>
					
							
					</md-card-content>
					
					</div>
				
				<md-card-content>
				
		<!-- 		for Collaborator -->
			<div ng-repeat="collUser in note.sharedUser" layout="row">
			<div ng-if="collUser.userId" ng-click="showCollab(note)">
<img ng-show="collUser.profilePicture" ng-src={{collUser.profilePicture}} style="border-radius:45px; max-width: 100%;" aria-label="profile">
<div ng-hide="collUser.profilePicture">
<ng-avatar string="{{collUser.userName}}" bind="true" upper-case="true" auto-color="true" class="avatar" round-shape="true" ></ng-avatar>
</div>			
			</div>
			</div>	
				
				
				
		
				
			<!-- 	for reminder -->
			
							<div ng-if="note.reminder"><br>
				<span style="background-color:white;">{{ note.reminder | date :  "yyyy-MM-dd HH:mm:ss"}}
				<md-icon ng-click="note.reminder='';updateNote(note)"  md-svg-icon="img/icons/cross.svg" style="height:16px;width:16px;min-height:16px;min-width:16px;"></md-icon></span>
				</div>	
				<div ng-if="note.label" layout="row" layout-wrap>
				
				
		<!-- for label -->	
		
							<div ng-repeat="labels in note.label"><br>
				<span style="background-color:white;">{{labels.labelName}}
				<md-icon ng-click="deleteNoteLabel(labels.labelId,note.noteId)"  md-svg-icon="img/icons/cross.svg" style="height:16px;width:16px;min-height:16px;min-width:16px;"></md-icon></span>
				</div>	
				</div>
				
<!-- Notes Option toolbar -->


<div style="visibility:{{visible}};" layout="row" layout-align="space-around center"
					role="toolbar">

		<md-menu-bar> <md-menu>
				<div role="button" ng-click="$mdMenu.open()">
					 <md-icon md-svg-icon="img/icons/remind.svg"  aria-label="Remind me" >
				</div>
	
	 <md-menu-content>
	 <div layout="column">



<div layout-padding>Reminder :</div>
<md-divider></md-divider>
<md-button ng-click="reminderSet(note,0)" layout="row" layout-align="space-between center"><span>Later today</span><span>8:00 PM</span></md-button>
<md-button ng-click="reminderSet(note,1)" layout="row" layout-align="space-between center"><span>Tomorrow</span><span>8:00 AM</span></md-button>
<md-button ng-click="reminderSet(note,2)" layout="row" layout-align="space-between center"><span>Next Week</span><span>MON, 8:00 AM</span></md-button>
<br>
<md-divider></md-divider>
<div layout-padding>Pickup Manually :</div>
<br>
<span layout-padding>Select Date and Time</span>

	<md-input-container>	
<input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
placeholder="Date" show-todays-date="" min-date="date" ng-model="remind"  ng-change="reminder(note,remind)" class=" md-input" readonly="readonly">
</md-input-container>

	
		 </div></md-menu-content> </md-menu> </md-menu-bar>					


		<!-- 			<div role="button" aria-label="Remind me">
						<md-icon md-svg-icon="img/icons/remind.svg"></md-icon>
					</div> -->
					<div ng-click="showCollab(note)" role="button" aria-label="Collaborator">
						<md-icon md-svg-icon="img/icons/collaborate.svg"></md-icon>
					</div>
					<color-picker color="color" options="options"
						on-color-changed="colorChanged(newColor,note)"></color-picker>
					
					<div ng-click="uploadImage(note)" role="button" aria-label="Add image">
					<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />
					
						<md-icon md-svg-icon="img/icons/image.svg"></md-icon>
					</div>
	
					<div role="button" ng-click="archive(note)" aria-label="Archive">
						<md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
					</div>
					

 					<md-menu-bar> <md-menu>

					<div role="button" aria-label="More" ng-click="$mdMenu.open()">
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div>
					<md-menu-content width="2" layout="column"> <md-menu-item>
					<md-button ng-click="trash(note)">Delete</md-button> </md-menu-item>
 				
					<md-menu-item>
					<md-button  ng-click="socialShare(note)"> Share on fb</md-button> </md-menu-item>
<!--
 <md-menu-item> <md-button ng-click="label()">Add label</md-button> </md-menu-item> 
 --> 
 

				    <md-menu-item>
					 <md-menu>

					<md-button ng-click="$mdMenu.open()">Add label</md-button>
				<!-- 	<div role="button" aria-label="More" ng-click="$mdMenu.open()">Add Label
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div> -->
					<md-menu-content width="4"> 
					
					<md-menu-item>
						
						
  <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/icons/cross.svg"></md-icon>
      <input ng-model="label.labelName" type="text" placeholder="Create new label">
         <md-icon ng-click="addLabel(label)" md-svg-src="img/icons/check.svg"></md-icon></md-input-container>
						
						
					 </md-menu-item>
					
					<md-menu-item ng-repeat="label in readLabel" layout-padding> 
					 <md-checkbox   ng-click="addNoteLabel(label.labelId,note.noteId)" aria-label="Checkbox"><span>{{label.labelName}}</span>
            			</md-checkbox></md-menu-item>
            
             
     
             </md-menu-content> </md-menu> </md-menu-item>
             
             </md-menu-content> </md-menu> </md-menu-bar>

				</div>

							




				</md-card-content> </md-card>
			</div>
		</div>
	</div>
	</div>